<h1>Listing Student Data</h1>
 
<table>
  <tr>
    <th>Student Name</th>
    <th>Enrollment Number</th>
    <th>College</th>
    <th>Major</th>
  </tr>
 
  <% @student.each do |student| %>
    <tr>
      <td><%= student.student_name %></td>
      <td><%= student.e_no %></td>
      <td><%= student.col %></td>
      <td><%= student.major %></td>
    </tr>
  <% end %>
</table>

<<<<<<< HEAD
<%= link_to 'New Student Information', new_student_path %>
=======
<%= link_to 'New Student Data', new_student_path %>
>>>>>>> db8426fef5cba11bd092e7137b950c8e815db2d3
